<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PodCraft: DEV Case Study: Search</title>
    <style>
        input[type='submit'], button, [aria-label] {
            cursor: pointer;
        }

        #spoiler {
            display: none;
        }

        table {
            font-family: Arial, sans-serif;
            border: 1px solid;
            border-collapse: collapse;
        }

        th {
            background-color: #0066CC;
            color: white;
        }

        td {
            border: 1px solid;
            padding: 5px;
        }
    </style>
    <script>
        assignVars();
    </script>
</head>
<body>
    <h1>Search Products</h1>
    <h4>Enter Details Below</h4>
    <form action="javascript:void(0);" method="POST" onsubmit="getProducts()">
        <input type="text" id="search-id" placeholder="User ID">
        <input type="text" id="search-propertyvalue" placeholder="Property Value">
        <input type="text" id="search-depositamount" placeholder="Deposit Amount">
        <input type="submit" value="Search">
    </form>

    <p id="search_counter"></p>

    <table>
        <tr>
            <th>Lender</th>
            <th>Interest Rate</th>
            <th>Rate Type</th>
            <th>Loan-to-Value</th>
        </tr>
        <tbody id="products"></tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="search.js"></script>
</body>
</html>